.bg-black {
  background-color: black;
}
.bg-lightgray {
  background-color: lightgray;
}
.text-white {
  color: white;
}
.h-20 {
  height: 20px;
}
.h-200 {
  height: 200px;
}
.w-120 {
  width: 120px;
}
.w-150 {
  width: 150px;
}
.mx-auto {
  margin: auto;
}
.p-10 {
  padding: 10px;
}